.tagscontainer ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.tagscontainer ul li {
    display: flex;
    align-items: center;
    margin: 0 10px 10px 0;
    padding: 4px 28px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 15px;
    background-color: #ff6060;
    color: #fff;
    white-space: nowrap;
}

@media screen and (min-width: 1024px) {
    .tagscontainer ul li {
        height: 25px;
        border-radius: 10px;
        font-size: 14px;
        line-height: 20px;
    }
}