.arrowup, .arrowleft, .arrowright, .arrowdown {
    display: block;
    width: 3vw;
    height: inherit;
    background-repeat: no-repeat;
    border: 0;
    background-color: transparent;
    background-position: center;
    cursor: pointer;
    transition-duration: .3s;
}

.arrowdown {
    transform: rotate(0deg);
}

.arrowleft {
    transform: rotate(90deg);
}

.arrowright {
    transform: rotate(270deg);
}

.arrowup {
    transform: rotate(180deg);
}