.arrowup {
    display: block;
    width: 14px;
    height: 8px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.arrowdown {
    transform: rotate(-90deg);
}