.cardcontainer {
    position: relative;
    margin: 4% 0;
    border-radius: 10px;
    color: #fff;
}

.cardcontainer a {
    text-decoration: none;
}

.cardImgContainer {
    display: flex;
    justify-content: space-between;
}

.cardImgContainer img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.cardTitleContainer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.1) 100%
    );
    border-radius: 10px;
}

.cardTitleContainer h2 {
    width: 44%;
    margin: 0;
    padding: 15px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .cardcontainer {
        width: 46%;
        margin: 25px 2%;
    }
}

@media screen and (min-width: 1440px) {
    .cardcontainer,
    .cardImgContainer,
    .cardImgContainer img {
        height: 340px;
    }

    .cardcontainer {
        width: auto;
        margin: 25px 30px;
        border-radius: 25px;
    }

    .cardImgContainer img {
        width: 340px;
    }
}
