article.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

article.collapse div {
    border-radius: 5px;
}

article.collapse .title, article.collapse .description {
    width: 94%;
    padding: 0 3%;
}

article.collapse .title {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    line-height: 19px;
    font-size: 12px;
    background-color: #ff6060;
    color: #fff;
    cursor: pointer;
}

article.collapse .description {
    display: none;
    padding-top: 20px;
    padding-bottom: 17px;
    line-height: 25px;
    background-color: #F6F6F6;
    color: #FF6060;
    font-size: 12px;
    line-height: 150%;
}

article.collapse .description ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

article.collapse .description-active {
    display: block;
}

@media screen and (min-width: 1024px) {
    
    article.collapse {
        width: 80%;
    }
}
