.BannerContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 111px;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.bannerHome {
    background-image: url("/src/assets/banner-home.jpg");
    background-size: 600px;
    background-position: -140px -150px;

}

.BannerContainer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.25);
}

.bannerHome {
    border: 1px solid green;
}

.BannerContainer h1 {
    margin: 0 12vw;
    color: #fff;
    font-size: 1.9em;
    font-weight: normal;
    z-index: 1;

    /*@media ${device.tablet} {
            font-size: 48px;
        }*/
}
